body {
  background-color: rgb(220, 254, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 14px 0;
}

h2 {
  margin: 0;
  font-size: 20px;
}

img {
  height: 128px;
  width: 128px;
}

#result-box, #loading-div {
  width: min(400px, 100%);
}

#loading-div {
  padding: 21px;
  display: flex;
  justify-content: center;
}

#result-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

#result-box p {
  margin: 8px 0px;
}

#conditions-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#localtime-p {
  margin-top: 4px;
}

#temp-div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.loader {
  border: 16px solid #fff; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

#loading-div.hidden {
  display: none;
}
