.hidden {
  display: none;
}

h2 {
  margin: 0;
}

img {
  height: 128px;
  width: 128px;
}

#result-box {
  width: min(400px, 100%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

#result-box p {
  margin: 8px 0px;
}

#conditions-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#localtime-p {
  margin-top: 4px;
}

#temp-div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}